/chromium
/containers
/dconf
/BetterDiscord
/btop
/discord
/Electron
/fontforge
/GIMP
/go
/gtk-3.0
/htop
/kdeconnect
/menus
/mpv
/nautilus
/nvm
/pacseek
/Podman\ Desktop
/Postman
/pulse
/qt6ct
/rclone
/spicetify
/spotify
/systemd
/uwsm
/vlc
/xsettingsd
/yay
/droidcam
/mimeapps.list
/pavucontrol.ini
/QtProject.conf
/user-dirs.dirs 
/user-dirs.locale
/QtProject
/github-copilot
/OpenRGB
/rnayabed
/Pinta

/eww/scripts/.env
/eww/scripts/secrets
